$white: #ffffff;
$purpleBlue: #5d32e3;
$paleGrey:#f6f7f9;
$silver: #f6f7f9;
$lightRed: #ff4546;
$darkIndigo: #1a0b4c;
$heather: #8e85b0;
$babyPurple: #bcaaf6;
$eggplant: #170f38;
$eggplantTwo: #100a26;
$lightGreyBlue: #a0afcc;
$bgCircles:#2e1384;
$bgCircles2:#312360;
$darkSlateBlue: #312360;

@font-face {
    font-family: op-reg;
    src: url("./../fonts/overpass-regular.otf");
  }
@font-face {
    font-family: op-b;
    src: url(./../fonts/overpass-bold.otf);
  }
@font-face {
    font-family: op-sb;
    src: url(./../fonts/overpass-semibold.otf);
  }

 